**Answer 1**

In [ ]:
a = 0

def b():
  global a
  a = c(a)

def c(a):
  return a + 2

b()  # This line call function b and in b function it calls function c which increment value of global variable a by 2 and store it in a. Thus a = 2
b()  # This line again call function b and in b function it calls function c which increment value of global variable a by 2 and store it in a. Thus a = 4
b()  # This line again call function b and in b function it calls function c which increment value of global variable a by 2 and store it in a. Thus a = 6
print(a) # this will print 6 on the console because global variable scope is in whole program not in particular block

6

**Answer 2**

In [ ]:
def file_length(file_name):
    try:
      file = open(file_name)
      contents = file.read()
      file.close()
      print(len(contents))
    except:
      print('File ' + file_name + ' not found.')
   

file_length('sample.txt')

File sample.txt not found.

**Answer 3**

In [ ]:
class Marsupial:
  values = []

  def put_in_pouch(self, value):
    self.values.append(value)

  def pouch_contents(self):
    print(self.values)

class Kangaroo(Marsupial):
  x = 0
  y = 0

  def __init__(self, x, y):
    self.x = x
    self.y = y 

  def jump(self, dx, dy):
    self.x += dx
    self.y += dy   

  def __str__(self):
      return 'I am a Kangaroo located at coordinates ('+ str(self.x) +','+ str(self.y) +')'

k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

**Answer 4**

In [ ]:
s = 0

def collatz(n):
   global s
   print(n)
   s += 1
   if n==1:
     return 
   if n % 2 == 0:
     return collatz((n // 2))
   if n % 2 == 1:
     return collatz(((n * 3) + 1))

collatz(10)

10
5
16
8
4
2
1

**Answer 5**

In [ ]:
def binary(n):
   if n < 2:
    print(int(n), end = '')
   else:
     binary(n / 2)
     print(int(n % 2), end = '')

binary(9)

1001

**Answer 6**

In [42]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):

  def __init__(self):
        HTMLParser.__init__(self)
        self.inLink = False
        self.dataArray = []
        self.countLanguages = 0
        self.lasttag = None
        self.lastname = None
        self.lastvalue = None

  def handle_starttag(self, tag, attrs):
        self.inLink = False
        if tag == 'h1' or tag == 'h2' or tag == 'h3' or tag == 'h4' or tag == 'h5' or tag == 'h6':
           self.countLanguages += 1
           self.inLink = True
           self.lasttag = tag

  def handle_endtag(self, tag):
        if tag == "h1" or tag == "h2" or tag == "h3" or tag == "h4" or tag == "h5" or tag == "h6":
            self.inlink = False

  def handle_data(self, data):
        if self.lasttag == 'h1' or self.lasttag == 'h2' or self.lasttag == 'h3' or self.lasttag == 'h4' or self.lasttag == 'h5' or self.lasttag == 'h6' and self.inLink and data.strip():
            print(data, end = "")



infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
	Principles

**Answer 7**

In [39]:
from urllib.request import urljoin
from bs4 import BeautifulSoup
import requests
from urllib.request import urlparse

def webdir(url, depth, indent):
	temp_url = set()
	currenturl_domain = urlparse(url).netloc

	beautifulsoup_object = BeautifulSoup(
		requests.get(url).content, "lxml")

	for an in beautifulsoup_object.findAll("a"):
		href = an.attrs.get("href")
		if(href != "" or href != None):
			href = urljoin(url, href)
			href_parsed = urlparse(href)
			href = href_parsed.scheme
			href += "://"
			href += href_parsed.netloc
			href += href_parsed.path
			finalparsed_href = urlparse(href)
			is_valid = bool(finalparsed_href.scheme) and bool(
				finalparsed_href.netloc)
			if is_valid:
				if currenturl_domain not in href and href not in link_ex:
					print(href)
					link_ex.add(href)
				if currenturl_domain in href and href not in link_in:
					print(href)
					link_in.add(href)
					temp_url.add(href)
	return temp_url


link_in = set()
url = "http://reed.cs.depaul.edu/lperkovic/csc242/test1.html"
depth = 1
link_ex = set()

if(depth == 0):
	print(url)

elif(depth == 1):
	webdir(url, depth, 0)

else:
	queue = []
	queue.append(url)
	for j in range(depth):
		for count in range(len(queue)):
			urll = queue.pop(0)
			urls = webdir(urll, depth, 0)
			for i in urls:
				queue.append(i)

**Answer 8**

In [18]:
import sqlite3

conn = sqlite3.connect('test.db')

conn.execute('''
CREATE TABLE IF NOT EXISTS team_data(city text, 
                      country text, 
                      season integer, 
                      temperature integer,
                      rainfall integer);''')

conn.commit()

mycursor = conn.cursor()

conn.execute("INSERT INTO team_data VALUES('Mumbai', 'India', 'Winter', 24.8, 5.9);")
conn.execute("INSERT INTO team_data VALUES('Mumbai', 'India', 'Spring', 28.4, 16.2);")
conn.execute("INSERT INTO team_data VALUES('Mumbai', 'India', 'Summer', 27.9, 1549.4);")
conn.execute("INSERT INTO team_data VALUES('Mumbai', 'India', 'Fall', 27.6, 346.0);")
conn.execute("INSERT INTO team_data VALUES('London', 'United Kingdom', 'Winter', 4.2, 207.7);")
conn.execute("INSERT INTO team_data VALUES('London', 'United Kingdom', 'Spring', 8.3, 169.6 );")
conn.execute("INSERT INTO team_data VALUES('London', 'United Kingdom', 'Summer', 15.7, 157.0);")
conn.execute("INSERT INTO team_data VALUES('London', 'United Kingdom', 'Fall', 10.4, 218.5);")
conn.execute("INSERT INTO team_data VALUES('Cairo', 'Egypt', 'Winter', 13.6, 16.5);")
conn.execute("INSERT INTO team_data VALUES('Cairo', 'Egypt', 'Spring', 20.7, 6.5);")
conn.execute("INSERT INTO team_data VALUES('Cairo', 'Egypt', 'Summer', 27.7, 0.1);")
conn.execute("INSERT INTO team_data VALUES('Cairo', 'Egypt', 'Fall', 22.2, 4.5);")

mycursor.execute("SELECT temperature from team_data")
myresult = mycursor.fetchall()
for x in myresult:
  print(x, end="")

print()
mycursor.execute("SELECT DISTINCT(city) from team_data")
myresult = mycursor.fetchall()
for x in myresult:
  print(x, end="")

print()
mycursor.execute("SELECT * from team_data where country = 'India'")
myresult = mycursor.fetchall()
for x in myresult:
  print(x, end="")


print()
mycursor.execute("SELECT * from team_data where season = 'Fall'")
myresult = mycursor.fetchall()
for x in myresult:
  print(x, end="")

print()
mycursor.execute("SELECT city,country,season from team_data where rainfall BETWEEN 200 and 400")
myresult = mycursor.fetchall()
for x in myresult:
  print(x, end="")

print()
mycursor.execute("SELECT city,country from team_data where (season = 'Fall' and temperature > 20) Order BY temperature ASC ")
myresult = mycursor.fetchall()
for x in myresult:
  print(x, end="")

print()
mycursor.execute("SELECT sum(rainfall) from team_data where city = 'Cairo'")
myresult = mycursor.fetchall()
for x in myresult:
  print(x, end="")

print()
mycursor.execute("SELECT season, sum(rainfall) from team_data group by season")
myresult = mycursor.fetchall()
for x in myresult:
  print(x, end="")

conn.close()

(24.8,)(28.4,)(27.9,)(27.6,)(4.2,)(8.3,)(15.7,)(10.4,)(13.6,)(20.7,)(27.7,)(22.2,)
('Mumbai',)('London',)('Cairo',)
('Mumbai', 'India', 'Winter', 24.8, 5.9)('Mumbai', 'India', 'Spring', 28.4, 16.2)('Mumbai', 'India', 'Summer', 27.9, 1549.4)('Mumbai', 'India', 'Fall', 27.6, 346)
('Mumbai', 'India', 'Fall', 27.6, 346)('London', 'United Kingdom', 'Fall', 10.4, 218.5)('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall')('London', 'United Kingdom', 'Winter')('London', 'United Kingdom', 'Fall')
('Cairo', 'Egypt')('Mumbai', 'India')
(27.6,)
('Fall', 569.0)('Spring', 192.29999999999998)('Summer', 1706.5)('Winter', 230.1)

**Answer 9**

In [3]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print([x.upper() for x in words])
print([x.lower() for x in words])
print([len(x) for x in words])
print([[x.upper(), x.lower(), len(x)]for x in words])
print([x for x in words if len(x) >= 3])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']